{% extends 'base.html' %}

{% block content %}
{% include "student/navbar.html" %}
<div class="col-md-8">
    <div class="col-md-8">
        <div class="post-form my-3 ml-3">
            <table class="table table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 20%;">날짜</th>
                        <th style="width: 40%;">집중도</th>
                        <th style="width: 40%;">자세</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in result %}
                    <tr>
                        <td>{{ row['create_date'] }}</td>
                        <td>{{ row['grade_concentrate'] }} ({{ (row['rate_concentrate'] * 100) | round(1) }}%)</td>
                        <td>{{ row['grade_posture'] }} ({{ (row['rate_posture']* 100) | round(1) }}%)</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}