{% extends 'base.html' %}

{% block content %}
{% include "student/navbar.html" %}
<div class="col-md-8">
    {% for lecture_number, lecture_info in report.items() %}
        <div class="col-md-8">
            <div class="post-form my-3 ml-3">
                <h4>수업번호: {{ lecture_number }}</h4>
                <table class="table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 20%;">토막</th>
                            <th style="width: 30%;">집중도</th>
                            <th style="width: 30%;">자세</th>
                            <th style="width: 20%;">수강횟수</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for part_number, value in lecture_info.items() %}
                            <tr>
                                <td>{{ part_number }}</td>
                                <td>{{ value['grade_concentrate'] }} ({{ (value['rate_concentrate'] * 100) | round(1)}}%)</td>
                                <td>{{ value['grade_posture'] }} ({{ (value['rate_posture'] * 100) | round(1) }}%)</td>
                                <td>{{ value['count'] }} 회</td>
                            </tr>
                    {% endfor %}
                        <tr>
                            <td>평균</td>
                            <td>{{ avg_info[0] }} ({{ (avg_info[1] * 100) | round(1) }}%)</td>
                            <td>{{ avg_info[2] }} ({{ (avg_info[3] * 100) | round(1) }}%)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}