<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('student.bylecture') }}">강의별 보기</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('student.bytime') }}">시간별 보기</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('student.bydate') }}">날짜별보기</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('student.byweek') }}">요일별보기</a>
            </li>
        </ul>
    </div>
</nav>