<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>스터디캠잇</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{url_for('main.index') }}">스터디캠잇</a>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
        {% if g.user.div == '1' %}
        <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('teacher.index') }}">내 강의 데이터</a>
        </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cambot.index') }}">공부하기</a>
            </li>
        {% endif %}
        {% if g.user %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
        {% else %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.signup') }}">계정생성</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}
</body>
</html>