{% extends 'base.html' %}

{% block content %}
{% include "teacher/navbar.html" %}
<div class="col-md-8">
    <div class="col-md-8">
        <div class="post-form my-3 ml-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>시간</th>
                        <th>집중도</th>
                        <th>자세</th>
                        <th>수강횟수</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in result %}
                    <tr>
                        <td>{{row[2]}} 시</td>
                        <td>{{(row[0]* 100)| round(1)}} %</td>
                        <td>{{(row[1]* 100)| round(1)}} %</td>
                        <td>{{row[3]}} 회</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}